<header>
	<div id="main-navigation">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 no-padding">
					<div class="main-logo">
						<%= image_tag('steemcreate-logo.png', class: 'img-responsive', alt: 'logo') %>
					</div>
					<ul class="pull-right">
						<div style="padding-top:1.2em;padding-right:3em;">
							<button type="button" class="btn logoblue-bak" data-toggle="modal" data-target="#signupModal">Sign Up Now</button>
						</div>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>
<section id="main-banner" class="secondary-overlay">
	<div class="container text-center banner-info">
		<h1 class="heading-alt" style="font-size: 4em;">The Steem Revolution Is Here!<br/>Are You Ready To Start Getting Paid To Blog?</h1>
		<!-- <p class="para-alt"><em><a target="_blank" href="//steem.io/whitepaper">Read the Steem Whitepaper for technical information</a></em></p> -->
	</div>
</section>
<section id="promotional" class="ptb-40 primary-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-sm-8 col-xs-12">
				<h2 class="heading-alt">Are you ready to create a Steem account?</h2>
				<p class="para-alt">Click <a href="/signup" class="para-alt">"Sign Up Now"</a> to get started earning money for blogging with your brand new Steem account.</p>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12 text-center">
				<p class="pt-40">
					<button type="button" class="btn btn-theme-default" data-toggle="modal" data-target="#signupModal">Sign Up Now</button>
				</p>
			</div>
		</div>
	</div>
</section>
<section id="main-features" class="ptb-80 hash bb-1">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-xs-12">
				<div class="box-style-1">
					<div class="icon-container primary-bg">
						<i class="icon icon-Book"></i>
					</div>
					<div class="body">
						<h5>Get Paid To Blog</h5>
						<p>Steem enables users to receive money for their blog content.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="box-style-1">
					<div class="icon-container primary-bg">
						<i class="icon icon-Dollar"></i>
					</div>
					<div class="body">
						<h5>Get Paid To Vote</h5>
						<p>Curators earn money by voting on, and curating, other user's articles.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="box-style-1">
					<div class="icon-container primary-bg">
						<i class="icon icon-Heart"></i>
					</div>
					<div class="body">
						<h5>Easy To Use</h5>
						<p>While complicated underneath, Steem is dead simple for the average user.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="works" class="ptb-80 bb-1">
	<div class="container">
		<div class="text-center">
			<h2>How It Works?</h2>
			<div class="seperator"></div>
		</div>
		<div class="tabbable full-width-tabs">
			<div class="tab-content">
				<div class="tab-pane active" id="tab-one">
					<div class="row">
						<div class="col-md-5 col-xs-12">
							<%= image_tag('account-flat.svg', style: 'height:350px;width:450px', class: 'img-responsive', alt: 'Create Account') %>
						</div>
						<div class="col-md-7 col-xs-12 ptb-40">
							<div class="main-content p-20">
								<h3><span>Create Your</span><br>Steem Account</h3>
								<p>
									First and foremost, you need to create a Steem account so you can log in and start earning cryptocurrency. Steem accounts cost money to create, and require someone to act as a recovery agent in the event of a lost password. SteemCreate will serve as that recovery agent at no extra cost, however, users can request to have recovery responsibilities transferred.
								</p>
								<div class="row">
									<div class="col-md-6">
										<ul class="list">
											<li><i class="fa fa-arrow-circle-o-right primary-color"></i>Account creation cost is $45</li>
											<li><i class="fa fa-arrow-circle-o-right primary-color"></i>80% of cost deposited to new account</li>
										</ul>
									</div>
									<div class="col-md-6">
										<ul class="list">
											<li><i class="fa fa-arrow-circle-o-right primary-color"></i>Free lost password recovery</li>
											<li><i class="fa fa-arrow-circle-o-right primary-color"></i>New accounts receive extra support</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="tab-two">
					<div class="row">
						<div class="col-md-5 col-xs-12">
							<%= image_tag('book-flat.png', style: 'height:350px;width:450px;padding-top:20px;', class: 'img-responsive', alt: 'First Blog Post') %>
						</div>
						<div class="col-md-7 col-xs-12 ptb-40">
							<div class="main-content p-20">
								<h3><span>Write Your</span><br>First Blog Post</h3>
								<p>
									Get started by writing your first blog post. A common place to begin is under the tag <a target="_blank" href="//steemit.com/created/introduceyourself">#introduceyourself</a>. Make sure to include a high level of detail in your posts. If you post high quality content, your potential earnings will be much higher than if you behave immorally. Users appreciate contributors that are active and willing to write about their interests, skills, or hobbies and will reward them accordingly.
								</p>
								<div class="row">
									<div class="col-md-6">
										<ul class="list">
											<li><i class="fa fa-arrow-circle-o-right primary-color"></i>Write high quality content</li>
											<li><i class="fa fa-arrow-circle-o-right primary-color"></i>Comment on other user's articles</li>
										</ul>
									</div>
									<div class="col-md-6">
										<ul class="list">
											<li><i class="fa fa-arrow-circle-o-right primary-color"></i>Share your posts with friends</li>
											<li><i class="fa fa-arrow-circle-o-right primary-color"></i>Join Steem based communities</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>  
				<div class="tab-pane" id="tab-three">
					<div class="row">
						<div class="col-md-5 col-xs-12">
							<%= image_tag('people-flat.png', style: 'height:350px;width:400px;padding-left:50px;', class: 'img-responsive', alt: 'Follow People') %>
						</div>
						<div class="col-md-7 col-xs-12 ptb-40">
							<div class="main-content p-20">
								<h3><span>Follow Some</span><br>Interesting Users</h3>
								<p>
									Steem is a community of authors, developers, designers, translators, memers, gamers, hunters, etc, etc. In order to truly be successful on Steem, one must grow their follower base. The best way to accomplish this is to get involved in the community, comment on articles, and improve your brand. Start out by finding authors that are posting content relevant to your interests, join a group, or just start blogging!
								</p>
								<div class="row">
									<div class="col-md-6">
										<ul class="list">
											<li><i class="fa fa-arrow-circle-o-right primary-color"></i>Having followers helps you earn</li>
											<li><i class="fa fa-arrow-circle-o-right primary-color"></i>Grow your reputation faster with friends</li>
										</ul>
									</div>
									<div class="col-md-6">
										<ul class="list">
											<li><i class="fa fa-arrow-circle-o-right primary-color"></i>Join a community</li>
											<li><i class="fa fa-arrow-circle-o-right primary-color"></i>Make a name for yourself</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div> 
				</div>  
				<div class="tab-pane" id="tab-four">
					<div class="row">
						<div class="col-md-5 col-xs-12">
							<%= image_tag('email.png', style: 'height:350px;width:400px;padding-left:50px;', class: 'img-responsive', alt: 'Follow People') %>
						</div>
						<div class="col-md-7 col-xs-12 ptb-40">
							<div class="main-content p-20">
								<h3><span>Invite Your</span><br>Best Friends</h3>
								<p>
									Inviting your friends to Steem will help make each of you more successful than if you were to go it alone. The mechanics of Steem promote community engagement and involvement. What better way to feel as if you are a part of this community than to bring your best friends along for the journey? Who knows, maybe they will be thanking you for making them rich one day!
								</p>
								<div class="row">
									<div class="col-md-6">
										<ul class="list">
											<li><i class="fa fa-arrow-circle-o-right primary-color"></i>Help new users learn</li>
											<li><i class="fa fa-arrow-circle-o-right primary-color"></i>Word of mouth helps everyone</li>
										</ul>
									</div>
									<div class="col-md-6">
										<ul class="list">
											<li><i class="fa fa-arrow-circle-o-right primary-color"></i>Create your own curation group</li>
											<li><i class="fa fa-arrow-circle-o-right primary-color"></i>Social is more fun when you are social</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div> 
				</div>  
			</div>
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#tab-one" data-toggle="tab" class="primary-bg">
						<i>1</i>
						<h5 class="heading-alt"><span>Create Your</span><br>Steem Account</h5>
					</a>
				</li>
				<li>
					<a href="#tab-two" data-toggle="tab" class="secondary-bg">
						<i>2</i>
						<h5 class="heading-alt"><span>Write Your</span><br>First Blog Post</h5>
					</a>
				</li>
				<li>
					<a href="#tab-three" data-toggle="tab" class="primary-bg">
						<i>3</i>
						<h5 class="heading-alt"><span>Follow Some</span><br>Interesting Users</h5>
					</a>
				</li>
				<li>
					<a href="#tab-four" data-toggle="tab" class="secondary-bg">
						<i>4</i>
						<h5 class="heading-alt"><span>Invite Your</span><br>Best Friends</h5>
					</a>
				</li>
			</ul>

		</div>
	</div>
</section>
<section class="feature ptb-80 hash bb-1">
	<h3 class="hide">feature</h3>
	<div class="col-md-6 col-md-push-6 feature-image no-padding">
		<div class="browser">
			<div class="top-bar">
				<ul class="lights">
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
			<div class="frame">
				<%= image_tag 'steem-sign.png', class: 'img-responsive', style: 'padding: 50px 200px;' %>
			</div>
		</div>
	</div>
	<div class="container feature-desc">
		<div class="row">
			<div class="col-md-5 feature-info">
				<article>
					<h3><span id="whatAreTip">What Are</span><br> Steem Tokens</h3>
					<p>Steem has several types of tokens, <strong><span id="steemTip">Steem</span>, <span id="sbdTip">Steem Dollars (SBD)</span>, and <span id="steemPowerTip">Steem Power</span></strong> (a denomination of VESTS). STEEM and Steem Dollars are liquid while Steem Power is not.</p>
					<p>When you are paid on the website <a target="_blank" href="//steemit.com" class="no-decoration">Steemit</a>, you can choose to be paid 50% in STEEM Power and 50% in STEEM Dollars, or 100% in Steem Power. Here's an example of a 50/50 payout: If you earn $200 on a post, you will get $100 STEEM Dollars, and 50 STEEM Power*</p>
					<p><em class="subtext">* this assumes STEEM Power is valed at $2 each</em></p>
					<a class="btn btn-theme-primary" href="//steem.center/index.php?title=STEEM_Tokens#STEEM" target="_blank">Learn More</a>
				</article>
			</div>
		</div>
	</div>
</section>
<section class="feature ptb-80 bb-1">
	<h3 class="hide">feature</h3>
	<div class="col-md-6 feature-image no-padding">
		<div class="browser">
			<div class="top-bar">
				<ul class="lights">
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
			<div class="frame">
				<%= image_tag 'dollar-sign.png', class: 'img-responsive', style: 'padding: 50px 200px;' %>
			</div>
		</div>
	</div>
	<div class="container feature-desc">
		<div class="row">
			<div class="col-md-5 col-md-push-7 feature-info">
				<article>
					<h3><span id="howAreTip">How Are</span><br>Users Paid</h3>
					<p>There are various different ways to earn cryptocurrency on Steem. Arguably the primary method would be posting, or contributing original content. When you post high quality articles, users will often show their support with an upvote. Upvotes provide the author with a certain amount of reward.</p>
					<p>After 7 days, the author rewards of a post or comment are paid out. You can also earn cryptocurrency by powering up STEEM and voting on other user's posts.</p>
					<a class="btn btn-theme-primary" href="//steemit.com/steemit/@shenanigator/the-ultimate-guide-to-steemit-payouts" target="_blank">Learn More</a>
				</article>
			</div>
		</div>
	</div>
</section>
<section class="feature ptb-80 hash bb-1">
	<h3 class="hide">feature</h3>
	<div class="col-md-6 col-md-push-6 feature-image no-padding">
		<div class="browser">
			<div class="top-bar">
				<ul class="lights">
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
			<div class="frame">
				<%= image_tag 'lock-key.png', class: 'img-responsive', style: 'padding: 50px 200px;' %>
			</div>
		</div>
	</div>
	<div class="container feature-desc">
		<div class="row">
			<div class="col-md-5 feature-info">
				<article>
					<h3><span id="whatMakesTip">What Makes</span><br> Steem Secure</h3>
					<p>The Steem network is based on the concept of <strong>Delegated Proof of Stake (DPoS)</strong>. DPoS leverages the power of stakeholder approval voting to resolve consensus issues in a fair and democratic way.</p>
					<p>Deterministic selection of block producers, known as <strong>Witnesses</strong>, allows transactions to be confirmed in an average of just 1 second. Perhaps most importantly, the consensus protocol is designed to protect all participants against unwanted regulatory interference.</p>
					<a class="btn btn-theme-primary" href="//steemit.com/steemit-guides/@pfunk/a-full-steemit-user-s-guide-to-steem-witnesses" target="_blank">Learn More</a>
				</article>
			</div>
		</div>
	</div>
</section>
<section id="needs" class="ptb-80">
	<div class="container">
		<div class="text-center">
			<h2>Projects On Steem</h2>
			<div class="seperator"></div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<div class="box-style-2">
					<div class="icon-container">
						<%= link_to '//utopian.io', target: '_blank', class: 'no-decoration' do %>
							<%= image_tag('steem-flat.png') %>
						<% end %>
					</div>
					<div class="body text-center pt-20">
						<a href="//utopian.io/" class="no-decoration" target="_blank"><h5>Utopian.io</h5></a>
						<p>Utopian.io, created by <a target="_blank" href="//steemit.com/@elear">@elear</a> is a community based platform designed to reward contributors to open source repositories.</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6">
				<div class="box-style-2">
					<div class="icon-container">
						<%= link_to '//github.com/aaroncox/vessel/', target: '_blank', class: 'no-decoration' do %>
							<%= image_tag('steem-flat.png') %>
						<% end %>
					</div>
					<div class="body text-center pt-20">
						<a href="//github.com/aaroncox/vessel/" class="no-decoration" target="_blank"><h5>Vessel</h5></a>
						<p>Vessel, created by <a target="_blank" href="//steemit.com/@jesta">@jesta</a>, is by far the best, and most secure, desktop wallet for Steem.</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6">
				<div class="box-style-2">
					<div class="icon-container">
						<%= link_to '//busy.org/', target: '_blank', class: 'no-decoration' do %>
							<%= image_tag('steem-flat.png') %>
						<% end %>
					</div>
					<div class="body text-center pt-20">
						<a href="//busy.org/" class="no-decoration" target="_blank"><h5>Busy.org</h5></a>
						<p>Busy.org, created by <a target="_blank" href="//steemit.com/@fabien">@fabien</a>, provides users with a refreshing new interface for the Steem blockchain.</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6">
				<div class="box-style-2">
					<div class="icon-container">
						<%= link_to '//chainbb.com/', target: '_blank', class: 'no-decoration' do %>
							<%= image_tag('steem-flat.png') %>
						<% end %>
					</div>
					<div class="body text-center pt-20">
						<a href="//chainbb.com/" class="no-decoration" target="_blank"><h5>ChainBB</h5></a>
						<p>ChainBB, created by <a target="_blank" href="//steemit.com/@jesta">@jesta</a>, is a forum based platform that uses the Steem blockchain.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row pt-30">
			<div class="col-xs-12 col-md-6">
				<div class="box-style-2">
					<div class="icon-container">
						<%= link_to '//esteem.ws/', target: '_blank', class: 'no-decoration' do %>
							<%= image_tag('steem-flat.png') %>
						<% end %>
					</div>
					<div class="body text-center pt-20">
						<a href="//esteem.ws/" class="no-decoration" target="_blank"><h5>eSteem</h5></a>
						<p>eSteem, created by <a target="_blank" href="//steemit.com/@good-karma">@good-karma</a>, is a beautiful, simple mobile application for interacting with the Steem blockchain.</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6">
				<div class="box-style-2">
					<div class="icon-container">
						<%= link_to '//steemd.com/', target: '_blank', class: 'no-decoration' do %>
							<%= image_tag('steem-flat.png') %>
						<% end %>
					</div>
					<div class="body text-center pt-20">
						<a href="//steemd.com/" class="no-decoration" target="_blank"><h5>SteemD</h5></a>
						<p>SteemD, created by <a target="_blank" href="//steemit.com/@roadscape">@roadscape</a>, is a blockchain explorer with some advanced features for exploring raw transactions.</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6">
				<div class="box-style-2">
					<div class="icon-container">
						<%= link_to '//steemdb.com/', target: '_blank', class: 'no-decoration' do %>
							<%= image_tag('steem-flat.png') %>
						<% end %>
					</div>
					<div class="body text-center pt-20">
						<a href="//steemdb.com/" class="no-decoration" target="_blank"><h5>SteemDB</h5></a>
						<p>SteemDB.com, creatd by <a target="_blank" href="//steemit.com/@jesta">@jesta</a>, is another kind of block explorer that has charting and statistics for Steem transactions and accounts.</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6">
				<div class="box-style-2">
					<div class="icon-container">
						<%= link_to '//minnowsupportproject.org/', target: '_blank', class: 'no-decoration' do %>
							<%= image_tag('steem-flat.png') %>
						<% end %>
					</div>
					<div class="body text-center pt-20">
						<a href="//minnowsupportproject.org/" class="no-decoration" target="_blank"><h5>MinnowSupportProject</h5></a>
						<p>MSP, created by <a target="_blank" href="//steemit.com/@aggroed">@aggroed</a>, is a Witness initiative designed to form a community around new Steemit users to help them grow.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<hr/>
<section id="mobile-app" class="bb-1 pt-20">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4 hidden-xs">
				<div class="mobile-app-image">
					<%= link_to "//steemit.com", target: '_blank' do %>
						<%= image_tag("steem.svg", width: 300, style: 'bottom:40px;left:30px;') %>
					<% end %>
				</div>
			</div>
			<div class="col-md-8 col-sm-8 col-xs-12">
				<div class="mobile-app-description  ptb-80">
					<h3><span>Start Blogging </span><br>Right Away</h3>
					<p>
						Well, what are you waiting for? Now that you have all the information, go ahead and swing over to <a href="//steemit.com">SteemIt</a>, or one of the other frontends listed above, sign in, and start earning cryptocurrency for blogging about your awesome life and unique talents! Be sure to give a warm welcome to <a target="_blank" href="//steemit.com/@netuoso">@netuoso</a> if you cross his path
					</p>
					<p class="pt-30">
						If you have any questions, the helpful users over at <a href="//steemit.chat">SteemIt.chat</a> would be glad to give you whatever assistance you need. Feel free to make an account over there and ask around for some help. Keep an eye out for users like <a target="_blank" href="//steemit.com/@timcliff">@timcliff</a>, <a target="_blank" href="//steemit.com/@gtg">@gtg</a>, <a target="_blank" href="//steemit.com/@pfunk">@pfunk</a>, <a target="_blank" href="//steemit.com/@drakos">@drakos</a>, <a target="_blank" href="//steemit.com/@followbtcnews">@followbtcnews</a>, and others that are known community leaders.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="testimonials" class="ptb-80 hash">
	<div class="container">
		<div class="row text-center pb-20">
			<h2>Recent Posts By @SteemItBlog</h2>
			<div class="seperator"></div>
		</div>
		<div class="row" id="recentPosts">
		</div>
	</div>
</section>
<section id="partners" class="ptb-50">
	<div class="container">
		<div class="row text-center pb-20">
			<h3><span class="text-uppercase">STEEM is trading on major cryptocurrency exchanges</span></h3>
		</div>
		<div class="row">
			<div class="col-md-4 p-10 text-center">
				<%= link_to '//bittrex.com', target: '_blank' do %>
					<%= image_tag('bittrex.png', class: 'img-responsive' ) %>
				<% end %>
			</div>
			<div class="col-md-4 p-10 text-center">
				<%= link_to '//poloniex.com', target: '_blank' do %>
					<%= image_tag('poloniex.png', class: 'img-responsive' ) %>
				<% end %>
			</div>
			<div class="col-md-4 p-10 text-center">
				<%= link_to '//openledger.io', target: '_blank' do %>
					<%= image_tag('open-ledger.png', class: 'img-responsive' ) %>
				<% end %>
			</div>
		</div>
	</div>
</section>
<footer id="footer" class="secondary-bg dark-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12 ptb-20 text-center">
				<p>Copyright &COPY; SteemLiberator, Inc - <%= Date.today.year == 2017 ? '2017' : "2017 - #{Date.today.year}" %></p>
				<p class="policy">This site does not collect any personal information other than to the extent that is necessary to carry out normal operations. Collected personal information will not be sold or distributed.<br/>All sales are final.</p>
			</div>
		</div>
	</div>
</footer>

<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form action="/charge" method="post" id="payment-form" remote="true">
				<div class="modal-header">
					<p class="modal-title" id="signupModalLabel">SteemCreate - Checkout Form
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</p>
				</div>
				<div class="modal-body">
					<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
					<div class="form-row">
						<%= label_tag :username %>
						<%= text_field_tag :username, nil, autofocus: true, placeholder: :username, class: 'form-control' %>
						<div id="usernameSuccess"></div>
						<div id="usernameError"></div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<div class="col-xs-2 pull-right">
							<button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
						</div>
						<div class="col-xs-10">
							<div id="checkoutButton" style="display:none;">
							  <script
							    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
							    data-key="<%= Settings.stripe_publishable_key %>"
							    data-amount="4500"
							    data-name="SteemCreate"
							    data-description="Steem Account Creation"
							    data-image="<%= asset_path('sc-logo.png') %>"
							    data-label="Checkout"
							    data-locale="auto"
							    data-currency="usd"
							    data-bitcoin="true">
							  </script>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
